@import url('https://fonts.googleapis.com/css?family=Poiret+One');
body {
  font-family: 'Poiret One', cursive;
}
body h1 {
  text-align: center;
}
body #clock {
  margin-top: 100px;
}
body #clock p {
  text-align: center;
  font-size: 300%;
}
